@{
    ViewBag.Title = "Home";
}

<!-- One -->
<section id="one" class="wrapper style1 special">
    <div class="container">
        <header class="major">
            <h2>About Munster University</h2>
            <p>A Mid-Western University founded in 1804. Helping the societal pressured population gain the education to match their photogenic personality!</p>
        </header>
        <div class="row 150%">
            <div class="4u 12u$(medium)">
                <section class="box aboutImages">
                    <img src="~/Content/images/paint.jpg" />
                    <h3>Creativity</h3>
                    <p>Phase 1: The finest in fine arts education.</p>
                </section>
            </div>
            <div class="4u 12u$(medium)">
                <section class="box aboutImages">
                    <img src="~/Content/images/librarybook.jpg" />
                    <h3>Imagination</h3>
                    <p>Phase 2: Plenty of pictures in our books.</p>
                </section>
            </div>
            <div class="4u$ 12u$(medium)">
                <section class="box aboutImages">
                    <img src="~/Content/images/chalkboard.jpg" />
                    <h3>Application</h3>
                    <p>Phase 3: Applying all you've learned.</p>
                </section>
            </div>
        </div>
    </div>
</section>
<!-- Two -->
<section id="two" class="wrapper style2 special">
    <div class="container">
        <header class="major">
            <h2>Meet the Munster University Faculty</h2>
            <p>We hire the best... the best looking, but they know enough to teach as well.</p>
        </header>
        <section class="profiles">
            <div class="row">                
                <section class="4u 6u$(medium) 12u$(xsmall) profile">
                    <a target="_blank" href="http://www.jonmboyce.com">
                        <img src="~/Content/images/JonBoyce.jpg" alt="Jon" />
                    </a>
                        <h4><a target="_blank" href="http://www.jonmboyce.com">Jon Boyce</a></h4>
                        <p>History &amp; English</p>
</section>
                <section class="4u 6u(medium) 12u$(xsmall) profile">
                    <a target="_blank" href="http://www.aaronmayhew.com">
                        <img src="~/Content/images/AaronMayhew.jpg" alt="Aaron" />
                    </a>
                        <h4><a target="_blank" href="http://www.aaronmayhew.com">Aaron Mayhew</a></h4>
                        <p>Math &amp; English</p>
</section>
                <section class="4u 6u$(medium) 12u$(xsmall) profile">
                    <a target="_blank" href="http://www.matthewwessley.com">
                        <img src="~/Content/images/MWessley1.jpg" alt="Matthew" />
                    </a>
                        <h4><a target="_blank" href="http://www.matthewwessley.com">Matthew Wessley</a></h4>
                        <p>Math &amp; Science</p>
</section>
            </div>
        </section>        
    </div>
</section>

